/BrowserLauncher
/Docs
/Tools
/External
/server/Scripts/mssql
/server/Scripts/sql_breezenet_migrate
/server/Scripts/sql_breezenet_svn
/server/Scripts/sql_warz_migrate
/server/Scripts/sql_warz_svn
/server/Scripts/thewarz.com-account
/server/Scripts/thewarz.com-forums
/server/Scripts/thewarz.com-www
/server/Scripts/WZFirstDataPayment-ASP.NET
/server/MasterServer/Release
/server/MasterServer/Debug
/bin
/server/bin
/Eternity/Debug_Server
/Eternity/Release_Server
/EclipseStudio/Release
/EclipseStudio/Debug
/Eternity/Debug_NoCrashRpt
/Eternity/Release
/server/SupervisorServer/Release
/server/WO_GameServer/Release
